#exercises-list{
	margin-left: 30%;
	margin-right: 30%;
}

input[type=text], textarea{
	height: 12rem;
	border-color: black;
	border-radius: 0.5rem;
}

li button{
	background: transparent;
	border-width: 0;
	text-shadow: 0.1875rem 0.1875rem rgba(0, 0, 0, 0.5);
}

li button:hover {
	background: #f1d5b2;
	color: black;
	text-shadow: none;
}

#quiz-title{
	font-size: 1.125rem;
	border-radius: 0.9375rem;
	width: 100%;
}

input, label{
	display: inline-block;
}