#create-exercise-button, #save-button{
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	border-width: 0px;
	font-size: 15px;
	font-family: "Sitka Text", serif;
	font-weight: bold;
	background: goldenrod;
	color: white;
}
#create-exercise-button:hover, #save-button:hover{
	background: darkgoldenrod;
}
#exercises-list{
	margin-left: 30%;
	margin-right: 30%;
}
li button{
	background: transparent;
	border-width: 0px;
	font-size: 15px;
	font-family: "Sitka Text", serif;
	font-weight: bold;
	color: white;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
li button:hover {
	background: #f1d5b2;
	color: black;
	text-shadow: none;
}
input, textarea{
	margin: 5px;
	padding: 5px;
	border-width: 1px;
	border-color: black;
	border-radius: 8px;
}
textarea{
	width: 500px;
	height: 200px;
}
#quiz-title{
	font-size: 18px;
	border-radius: 15px;
	width: 500px;
}