#start-quiz-button{
	margin: 3.125rem;
}

#solution-input{
	margin: 1.875rem;
	padding: 0.625rem;
	border-radius: 0.625rem;
	border-width: 0;
	width: 50%;
	min-width: 31.25rem;
	font-size: 1.125rem;
}

.correct{
	color: #00ff22;
}

.incorrect{
	color: #ff0000;
}
