#start-quiz-button{
	margin: 50px;
}
#solution-input{
	margin: 30px;
	padding: 10px;
	border-radius: 10px;
	border-width: 0px;
	width: 500px;
	font-size: 18px;
}
.correct{
	color: #00ff22;
}
.incorrect{
	color: #ff0000;
}
