body{
	background: burlywood;
	font-family: "Sitka Text";
	margin: 200px;
	text-align: center;
}
#open-quiz{
	background: white;
	padding: 50px;
	border-radius: 20px;
}
#open-quiz-button{
	padding: 20px;
	border-radius: 10px;
	border-width: 0px;
	font-size: 18px;
	font-family: "Sitka Text";
	font-weight: bold;
	background: mediumseagreen;
	color: white;
}
#open-quiz-button:hover{
	background: black;
	color: white;
}