body{
	background: burlywood;
	font-family: "Sitka Text", serif;
	text-align: center;
	color: white;
	text-shadow: 0.1875rem 0.1875rem rgba(0, 0, 0, 0.5);
}

input[type=text], textarea{
	width: 100%;
	min-width: 31.25rem;

	margin: 1.875rem;
	padding: 0.625rem;
	border-radius: 0.625rem;
	border-width: 0;
	font-size: 1.125rem;
}

button, input[type=submit]{
	font-family: "Sitka Text", serif;
	border-width: 0;
	font-weight: bold;
	font-size: 0.9375rem;
}

button, input[type=submit], a{
	color: white;
}

.green-button{
	padding: 1.25rem;
	margin: 2rem;
	border-radius: 0.625rem;
	font-size: 1.125rem;
	font-weight: bold;
	background: mediumseagreen;
}
.green-button:hover{
	background: black;
}
.normal-button, .gold-button{
	margin-top: 1.25rem;
	padding: 0.625rem;
	border-radius: 0.3125rem;
}

.normal-button{
	background: #b8986f;
}

.normal-button:hover{
	background: #735e44;
}

.gold-button{
	background: goldenrod;
}

.gold-button:hover{
	background: darkgoldenrod;
}