body{
	background: burlywood;
	font-family: "Sitka Text";
	text-align: center;
	color: white;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
h1{
	font-size: 40px;
}
#open-quiz{
	background: white;
	padding: 50px;
	border-radius: 20px;
}
#open-quiz-button{
	padding: 20px;
	border-radius: 10px;
	border-width: 0px;
	font-size: 18px;
	font-family: "Sitka Text";
	font-weight: bold;
	background: mediumseagreen;
	color: white;
}
#open-quiz-button:hover{
	background: black;
}